openapi: "3.0.3"
info:
  title: "Dub.co API"
  description: "Dub is link management infrastructure for companies to create marketing campaigns, link sharing features, and referral programs."
  version: "0.0.1"
  contact:
    name: "Dub.co Support"
    email: "support@dub.co"
    url: "https://dub.co/api"
  license:
    name: "AGPL-3.0 license"
    url: "https://github.com/dubinc/dub/blob/main/LICENSE.md"
servers:
  - url: "https://api.dub.co"
    description: "Production API"
paths:
  "/links":
    post:
      operationId: "createLink"
      x-speakeasy-name-override: "create"
      x-speakeasy-usage-example: true
      summary: "Create a new link"
      x-codeSamples: [{"lang": "typescript", "label": "createLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.create();\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "createLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    var request *operations.CreateLinkRequestBody = &operations.CreateLinkRequestBody{\n        URL: \"https://google.com\",\n        ExternalID: dubgo.String(\"123456\"),\n        TagIds: operations.CreateTagIdsArrayOfStr(\n                []string{\n                    \"clux0rgak00011...\",\n                },\n        ),\n    }\n    ctx := context.Background()\n    res, err := s.Links.Create(ctx, request)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "createLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::CreateLinkRequestBody.new(\n  url: \"https://google.com\",\n  external_id: \"123456\",\n  tag_ids: [\n  \"<value>\",\n],\n)\n    \nres = s.links.create(req)\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "createLink", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n        $request = new Operations\\CreateLinkRequestBody();\n    $request->url = 'https://google.com';\n    $request->domain = 'lighthearted-kilogram.name';\n    $request->key = '<key>';\n    $request->externalId = '123456';\n    $request->prefix = '<value>';\n    $request->trackConversion = false;\n    $request->archived = false;\n    $request->publicStats = false;\n    $request->tagId = '<value>';\n    $request->tagIds = [\n        '<value>',\n    ];\n    $request->tagNames = '<value>';\n    $request->comments = '<value>';\n    $request->expiresAt = '<value>';\n    $request->expiredUrl = '<value>';\n    $request->password = 'rHklDuL1dlrnUXo';\n    $request->proxy = false;\n    $request->title = '<value>';\n    $request->description = 'Reverse-engineered human-resource time-frame';\n    $request->image = 'https://loremflickr.com/640/480';\n    $request->video = '<value>';\n    $request->rewrite = false;\n    $request->ios = '<value>';\n    $request->android = '<value>';\n    $request->geo = new Components\\LinkGeoTargeting();\n    $request->geo->af = '<value>';\n    $request->geo->al = '<value>';\n    $request->geo->dz = '<value>';\n    $request->geo->as = '<value>';\n    $request->geo->ad = '<value>';\n    $request->geo->ao = '<value>';\n    $request->geo->ai = '<value>';\n    $request->geo->aq = '<value>';\n    $request->geo->ag = '<value>';\n    $request->geo->ar = '<value>';\n    $request->geo->am = '<value>';\n    $request->geo->aw = '<value>';\n    $request->geo->au = '<value>';\n    $request->geo->at = '<value>';\n    $request->geo->az = '<value>';\n    $request->geo->bs = '<value>';\n    $request->geo->bh = '<value>';\n    $request->geo->bd = '<value>';\n    $request->geo->bb = '<value>';\n    $request->geo->by = '<value>';\n    $request->geo->be = '<value>';\n    $request->geo->bz = '<value>';\n    $request->geo->bj = '<value>';\n    $request->geo->bm = '<value>';\n    $request->geo->bt = '<value>';\n    $request->geo->bo = '<value>';\n    $request->geo->ba = '<value>';\n    $request->geo->bw = '<value>';\n    $request->geo->bv = '<value>';\n    $request->geo->br = '<value>';\n    $request->geo->io = '<value>';\n    $request->geo->bn = '<value>';\n    $request->geo->bg = '<value>';\n    $request->geo->bf = '<value>';\n    $request->geo->bi = '<value>';\n    $request->geo->kh = '<value>';\n    $request->geo->cm = '<value>';\n    $request->geo->ca = '<value>';\n    $request->geo->cv = '<value>';\n    $request->geo->ky = '<value>';\n    $request->geo->cf = '<value>';\n    $request->geo->td = '<value>';\n    $request->geo->cl = '<value>';\n    $request->geo->cn = '<value>';\n    $request->geo->cx = '<value>';\n    $request->geo->cc = '<value>';\n    $request->geo->co = '<value>';\n    $request->geo->km = '<value>';\n    $request->geo->cg = '<value>';\n    $request->geo->cd = '<value>';\n    $request->geo->ck = '<value>';\n    $request->geo->cr = '<value>';\n    $request->geo->ci = '<value>';\n    $request->geo->hr = '<value>';\n    $request->geo->cu = '<value>';\n    $request->geo->cy = '<value>';\n    $request->geo->cz = '<value>';\n    $request->geo->dk = '<value>';\n    $request->geo->dj = '<value>';\n    $request->geo->dm = '<value>';\n    $request->geo->do = '<value>';\n    $request->geo->ec = '<value>';\n    $request->geo->eg = '<value>';\n    $request->geo->sv = '<value>';\n    $request->geo->gq = '<value>';\n    $request->geo->er = '<value>';\n    $request->geo->ee = '<value>';\n    $request->geo->et = '<value>';\n    $request->geo->fk = '<value>';\n    $request->geo->fo = '<value>';\n    $request->geo->fj = '<value>';\n    $request->geo->fi = '<value>';\n    $request->geo->fr = '<value>';\n    $request->geo->gf = '<value>';\n    $request->geo->pf = '<value>';\n    $request->geo->tf = '<value>';\n    $request->geo->ga = '<value>';\n    $request->geo->gm = '<value>';\n    $request->geo->ge = '<value>';\n    $request->geo->de = '<value>';\n    $request->geo->gh = '<value>';\n    $request->geo->gi = '<value>';\n    $request->geo->gr = '<value>';\n    $request->geo->gl = '<value>';\n    $request->geo->gd = '<value>';\n    $request->geo->gp = '<value>';\n    $request->geo->gu = '<value>';\n    $request->geo->gt = '<value>';\n    $request->geo->gn = '<value>';\n    $request->geo->gw = '<value>';\n    $request->geo->gy = '<value>';\n    $request->geo->ht = '<value>';\n    $request->geo->hm = '<value>';\n    $request->geo->va = '<value>';\n    $request->geo->hn = '<value>';\n    $request->geo->hk = '<value>';\n    $request->geo->hu = '<value>';\n    $request->geo->is = '<value>';\n    $request->geo->in = '<value>';\n    $request->geo->id = '<id>';\n    $request->geo->ir = '<value>';\n    $request->geo->iq = '<value>';\n    $request->geo->ie = '<value>';\n    $request->geo->il = '<value>';\n    $request->geo->it = '<value>';\n    $request->geo->jm = '<value>';\n    $request->geo->jp = '<value>';\n    $request->geo->jo = '<value>';\n    $request->geo->kz = '<value>';\n    $request->geo->ke = '<value>';\n    $request->geo->ki = '<value>';\n    $request->geo->kp = '<value>';\n    $request->geo->kr = '<value>';\n    $request->geo->kw = '<value>';\n    $request->geo->kg = '<value>';\n    $request->geo->la = '<value>';\n    $request->geo->lv = '<value>';\n    $request->geo->lb = '<value>';\n    $request->geo->ls = '<value>';\n    $request->geo->lr = '<value>';\n    $request->geo->ly = '<value>';\n    $request->geo->li = '<value>';\n    $request->geo->lt = '<value>';\n    $request->geo->lu = '<value>';\n    $request->geo->mo = '<value>';\n    $request->geo->mg = '<value>';\n    $request->geo->mw = '<value>';\n    $request->geo->my = '<value>';\n    $request->geo->mv = '<value>';\n    $request->geo->ml = '<value>';\n    $request->geo->mt = '<value>';\n    $request->geo->mh = '<value>';\n    $request->geo->mq = '<value>';\n    $request->geo->mr = '<value>';\n    $request->geo->mu = '<value>';\n    $request->geo->yt = '<value>';\n    $request->geo->mx = '<value>';\n    $request->geo->fm = '<value>';\n    $request->geo->md = '<value>';\n    $request->geo->mc = '<value>';\n    $request->geo->mn = '<value>';\n    $request->geo->ms = '<value>';\n    $request->geo->ma = '<value>';\n    $request->geo->mz = '<value>';\n    $request->geo->mm = '<value>';\n    $request->geo->na = '<value>';\n    $request->geo->nr = '<value>';\n    $request->geo->np = '<value>';\n    $request->geo->nl = '<value>';\n    $request->geo->nc = '<value>';\n    $request->geo->nz = '<value>';\n    $request->geo->ni = '<value>';\n    $request->geo->ne = '<value>';\n    $request->geo->ng = '<value>';\n    $request->geo->nu = '<value>';\n    $request->geo->nf = '<value>';\n    $request->geo->mk = '<value>';\n    $request->geo->mp = '<value>';\n    $request->geo->no = '<value>';\n    $request->geo->om = '<value>';\n    $request->geo->pk = '<value>';\n    $request->geo->pw = '<value>';\n    $request->geo->ps = '<value>';\n    $request->geo->pa = '<value>';\n    $request->geo->pg = '<value>';\n    $request->geo->py = '<value>';\n    $request->geo->pe = '<value>';\n    $request->geo->ph = '<value>';\n    $request->geo->pn = '<value>';\n    $request->geo->pl = '<value>';\n    $request->geo->pt = '<value>';\n    $request->geo->pr = '<value>';\n    $request->geo->qa = '<value>';\n    $request->geo->re = '<value>';\n    $request->geo->ro = '<value>';\n    $request->geo->ru = '<value>';\n    $request->geo->rw = '<value>';\n    $request->geo->sh = '<value>';\n    $request->geo->kn = '<value>';\n    $request->geo->lc = '<value>';\n    $request->geo->pm = '<value>';\n    $request->geo->vc = '<value>';\n    $request->geo->ws = '<value>';\n    $request->geo->sm = '<value>';\n    $request->geo->st = '<value>';\n    $request->geo->sa = '<value>';\n    $request->geo->sn = '<value>';\n    $request->geo->sc = '<value>';\n    $request->geo->sl = '<value>';\n    $request->geo->sg = '<value>';\n    $request->geo->sk = '<value>';\n    $request->geo->si = '<value>';\n    $request->geo->sb = '<value>';\n    $request->geo->so = '<value>';\n    $request->geo->za = '<value>';\n    $request->geo->gs = '<value>';\n    $request->geo->es = '<value>';\n    $request->geo->lk = '<value>';\n    $request->geo->sd = '<value>';\n    $request->geo->sr = '<value>';\n    $request->geo->sj = '<value>';\n    $request->geo->sz = '<value>';\n    $request->geo->se = '<value>';\n    $request->geo->ch = '<value>';\n    $request->geo->sy = '<value>';\n    $request->geo->tw = '<value>';\n    $request->geo->tj = '<value>';\n    $request->geo->tz = '<value>';\n    $request->geo->th = '<value>';\n    $request->geo->tl = '<value>';\n    $request->geo->tg = '<value>';\n    $request->geo->tk = '<value>';\n    $request->geo->to = '<value>';\n    $request->geo->tt = '<value>';\n    $request->geo->tn = '<value>';\n    $request->geo->tr = '<value>';\n    $request->geo->tm = '<value>';\n    $request->geo->tc = '<value>';\n    $request->geo->tv = '<value>';\n    $request->geo->ug = '<value>';\n    $request->geo->ua = '<value>';\n    $request->geo->ae = '<value>';\n    $request->geo->gb = '<value>';\n    $request->geo->us = '<value>';\n    $request->geo->um = '<value>';\n    $request->geo->uy = '<value>';\n    $request->geo->uz = '<value>';\n    $request->geo->vu = '<value>';\n    $request->geo->ve = '<value>';\n    $request->geo->vn = '<value>';\n    $request->geo->vg = '<value>';\n    $request->geo->vi = '<value>';\n    $request->geo->wf = '<value>';\n    $request->geo->eh = '<value>';\n    $request->geo->ye = '<value>';\n    $request->geo->zm = '<value>';\n    $request->geo->zw = '<value>';\n    $request->geo->ax = '<value>';\n    $request->geo->bq = '<value>';\n    $request->geo->cw = '<value>';\n    $request->geo->gg = '<value>';\n    $request->geo->im = '<value>';\n    $request->geo->je = '<value>';\n    $request->geo->me = '<value>';\n    $request->geo->bl = '<value>';\n    $request->geo->mf = '<value>';\n    $request->geo->rs = '<value>';\n    $request->geo->sx = '<value>';\n    $request->geo->ss = '<value>';\n    $request->geo->xk = '<value>';\n    $request->doIndex = false;\n    $request->utmSource = '<value>';\n    $request->utmMedium = '<value>';\n    $request->utmCampaign = '<value>';\n    $request->utmTerm = '<value>';\n    $request->utmContent = '<value>';;\n\n    $response = $sdk->links->create($request);\n\n    if ($response->linkSchema !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: createLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.create(request={\n    \"url\": \"https://google.com\",\n    \"external_id\": \"123456\",\n    \"tag_ids\": [\n        \"clux0rgak00011...\",\n    ],\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links\")\n  .post(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Create a new link for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "url":
                  type: "string"
                  description: "The destination URL of the short link."
                  example: "https://google.com"
                "domain":
                  type: "string"
                  description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                "key":
                  type: "string"
                  description: "The short link slug. If not provided, a random 7-character slug will be generated."
                "externalId":
                  type: "string"
                  nullable: true
                  minLength: 1
                  maxLength: 255
                  description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                  example: "123456"
                "prefix":
                  type: "string"
                  description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                "trackConversion":
                  type: "boolean"
                  default: false
                  description: "Whether to track conversions for the short link."
                "archived":
                  type: "boolean"
                  default: false
                  description: "Whether the short link is archived."
                "publicStats":
                  type: "boolean"
                  default: false
                  description: "Whether the short link's stats are publicly accessible."
                "tagId":
                  type: "string"
                  nullable: true
                  description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                  deprecated: true
                "tagIds":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique IDs of the tags assigned to the short link."
                  example: ["clux0rgak00011..."]
                "tagNames":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique name of the tags assigned to the short link (case insensitive)."
                "comments":
                  type: "string"
                  nullable: true
                  description: "The comments for the short link."
                "expiresAt":
                  type: "string"
                  nullable: true
                  description: "The date and time when the short link will expire at."
                "expiredUrl":
                  type: "string"
                  nullable: true
                  description: "The URL to redirect to when the short link has expired."
                "password":
                  type: "string"
                  nullable: true
                  description: "The password required to access the destination URL of the short link."
                "proxy":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses Custom Social Media Cards feature."
                "title":
                  type: "string"
                  nullable: true
                  description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "description":
                  type: "string"
                  nullable: true
                  description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "image":
                  type: "string"
                  nullable: true
                  description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "video":
                  type: "string"
                  nullable: true
                  description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "rewrite":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses link cloaking."
                "ios":
                  type: "string"
                  nullable: true
                  description: "The iOS destination URL for the short link for iOS device targeting."
                "android":
                  type: "string"
                  nullable: true
                  description: "The Android destination URL for the short link for Android device targeting."
                "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                "doIndex":
                  type: "boolean"
                  default: false
                  description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                "utm_source":
                  type: "string"
                  nullable: true
                  description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                "utm_medium":
                  type: "string"
                  nullable: true
                  description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                "utm_campaign":
                  type: "string"
                  nullable: true
                  description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                "utm_term":
                  type: "string"
                  nullable: true
                  description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                "utm_content":
                  type: "string"
                  nullable: true
                  description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
              required:
                - "url"
      responses:
        "200":
          description: "The created link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
    get:
      operationId: "getLinks"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination: {"type": "offsetLimit", "inputs": [{"name": "page", "in": "parameters", "type": "page"}, {"name": "pageSize", "in": "parameters", "type": "limit"}], "outputs": {"results": "$"}}
      x-codeSamples: [{"lang": "typescript", "label": "getLinks", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.list();\n\n  for await (const page of result) {\n    // handle page\n  }\n}\n\nrun();"}, {"lang": "go", "label": "getLinks", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    request := operations.GetLinksRequest{\n        Page: dubgo.Float64(1),\n        PageSize: dubgo.Float64(50),\n    }\n    ctx := context.Background()\n    res, err := s.Links.List(ctx, request)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n                for {\n            // handle items\n        \n            res, err = res.Next()\n        \n            if err != nil {\n                // handle error\n            }\n        \n            if res == nil {\n                break\n            }\n        }\n        \n    }\n}"}, {"lang": "ruby", "label": "getLinks", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinksRequest.new(\n  page: 1.0,\n  page_size: 50.0,\n)\n    \nres = s.links.list(req)\n\nif ! res.link_schemas.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinks", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n        $request = new Operations\\GetLinksRequest();\n    $request->domain = 'smug-bow.name';\n    $request->tagId = '<value>';\n    $request->tagIds = '<value>';\n    $request->tagNames = '<value>';\n    $request->search = '<value>';\n    $request->userId = '<value>';\n    $request->showArchived = false;\n    $request->withTags = false;\n    $request->sort = Operations\\Sort::CreatedAt;\n    $request->page = 1;\n    $request->pageSize = 50;;\n\n    $response = $sdk->links->list($request);\n\n    if ($response->linkSchemas !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: getLinks, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.list(request={\n    \"page\": 1,\n    \"page_size\": 50,\n})\n\nif res is not None:\n    while True:\n        # handle items\n\n        res = res.Next()\n        if res is None:\n            break"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      summary: "Retrieve a list of links"
      description: "Retrieve a paginated list of links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
          schema:
            type: "string"
            description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
        - in: "query"
          name: "tagId"
          description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
          schema:
            type: "string"
            description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
            deprecated: true
        - in: "query"
          name: "tagIds"
          description: "The tag IDs to filter the links by."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The tag IDs to filter the links by."
        - in: "query"
          name: "tagNames"
          description: "The unique name of the tags assigned to the short link (case insensitive)."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The unique name of the tags assigned to the short link (case insensitive)."
        - in: "query"
          name: "search"
          description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
          schema:
            type: "string"
            description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
        - in: "query"
          name: "userId"
          description: "The user ID to filter the links by."
          schema:
            type: "string"
            description: "The user ID to filter the links by."
        - in: "query"
          name: "showArchived"
          description: "Whether to include archived links in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include archived links in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "withTags"
          description: "Whether to include tags in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include tags in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "sort"
          description: "The field to sort the links by. The default is `createdAt`, and sort order is always descending."
          schema:
            type: "string"
            enum:
              - "createdAt"
              - "clicks"
              - "lastClicked"
            default: "createdAt"
            description: "The field to sort the links by. The default is `createdAt`, and sort order is always descending."
        - in: "query"
          name: "page"
          description: "The page number for pagination."
          schema:
            type: "number"
            minimum: 0
            exclusiveMinimum: true
            default: 1
            description: "The page number for pagination."
            example: 1
        - in: "query"
          name: "pageSize"
          description: "The number of items per page."
          schema:
            type: "number"
            minimum: 0
            exclusiveMinimum: true
            maximum: 100
            default: 100
            description: "The number of items per page."
            example: 50
      responses:
        "200":
          description: "A list of links"
          content:
            "application/json":
              schema:
                type: "array"
                items: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/count":
    get:
      operationId: "getLinksCount"
      x-speakeasy-name-override: "count"
      summary: "Retrieve links count"
      x-codeSamples: [{"lang": "typescript", "label": "getLinksCount", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.count();\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "getLinksCount", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    request := operations.GetLinksCountRequest{}\n    ctx := context.Background()\n    res, err := s.Links.Count(ctx, request)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "getLinksCount", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinksCountRequest.new()\n    \nres = s.links.count(req)\n\nif ! res.number.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinksCount", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n        $request = new Operations\\GetLinksCountRequest();\n    $request->domain = 'false-epauliere.info';\n    $request->tagId = '<value>';\n    $request->tagIds = '<value>';\n    $request->tagNames = '<value>';\n    $request->search = '<value>';\n    $request->userId = '<value>';\n    $request->showArchived = false;\n    $request->withTags = false;\n    $request->groupBy = '<value>';;\n\n    $response = $sdk->links->count($request);\n\n    if ($response->number !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: getLinksCount, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.count()\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/count\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Retrieve the number of links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
          schema:
            type: "string"
            description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
        - in: "query"
          name: "tagId"
          description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
          schema:
            type: "string"
            description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
            deprecated: true
        - in: "query"
          name: "tagIds"
          description: "The tag IDs to filter the links by."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The tag IDs to filter the links by."
        - in: "query"
          name: "tagNames"
          description: "The unique name of the tags assigned to the short link (case insensitive)."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The unique name of the tags assigned to the short link (case insensitive)."
        - in: "query"
          name: "search"
          description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
          schema:
            type: "string"
            description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
        - in: "query"
          name: "userId"
          description: "The user ID to filter the links by."
          schema:
            type: "string"
            description: "The user ID to filter the links by."
        - in: "query"
          name: "showArchived"
          description: "Whether to include archived links in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include archived links in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "withTags"
          description: "Whether to include tags in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include tags in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "groupBy"
          description: "The field to group the links by."
          schema:
            anyOf:
              - type: "string"
                enum:
                  - "domain"
              - type: "string"
                enum:
                  - "tagId"
              - type: "string"
                enum:
                  - "userId"
            description: "The field to group the links by."
      responses:
        "200":
          description: "A list of links"
          content:
            "application/json":
              schema:
                type: "number"
                description: "The number of links matching the query."
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/info":
    get:
      operationId: "getLinkInfo"
      x-speakeasy-name-override: "get"
      summary: "Retrieve a link"
      x-codeSamples: [{"lang": "typescript", "label": "getLinkInfo", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.get();\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "getLinkInfo", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    request := operations.GetLinkInfoRequest{\n        LinkID: dubgo.String(\"clux0rgak00011...\"),\n        ExternalID: dubgo.String(\"ext_123456\"),\n    }\n    ctx := context.Background()\n    res, err := s.Links.Get(ctx, request)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "getLinkInfo", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinkInfoRequest.new(\n  link_id: \"clux0rgak00011...\",\n  external_id: \"ext_123456\",\n)\n    \nres = s.links.get(req)\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinkInfo", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n    \n\n    $response = $sdk->links->get('<value>', '<value>', 'clux0rgak00011...', 'ext_123456');\n\n    if ($response->linkSchema !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: getLinkInfo, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.get(request={\n    \"link_id\": \"clux0rgak00011...\",\n    \"external_id\": \"ext_123456\",\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/info\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Retrieve the info for a link."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          schema:
            type: "string"
            minLength: 1
            description: "The domain of the link to retrieve. E.g. for `d.to/github`, the domain is `d.to`."
        - in: "query"
          name: "key"
          description: "The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."
          schema:
            type: "string"
            minLength: 1
            description: "The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."
        - in: "query"
          name: "linkId"
          description: "The unique ID of the short link."
          schema:
            type: "string"
            description: "The unique ID of the short link."
            example: "clux0rgak00011..."
        - in: "query"
          name: "externalId"
          description: "This is the ID of the link in the your database. Must be prefixed with `ext_` when passed as a query parameter."
          schema:
            type: "string"
            description: "This is the ID of the link in the your database. Must be prefixed with `ext_` when passed as a query parameter."
            example: "ext_123456"
      responses:
        "200":
          description: "The retrieved link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/{linkId}":
    patch:
      operationId: "updateLink"
      x-speakeasy-name-override: "update"
      x-speakeasy-max-method-params: 2
      summary: "Update a link"
      x-codeSamples: [{"lang": "typescript", "label": "updateLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.update(\"<value>\");\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "updateLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    var linkID string = \"<value>\"\n\n    var requestBody *operations.UpdateLinkRequestBody = &operations.UpdateLinkRequestBody{\n        URL: dubgo.String(\"https://google.com\"),\n        ExternalID: dubgo.String(\"123456\"),\n        TagIds: operations.CreateUpdateLinkTagIdsArrayOfStr(\n                []string{\n                    \"clux0rgak00011...\",\n                },\n        ),\n    }\n    ctx := context.Background()\n    res, err := s.Links.Update(ctx, linkID, requestBody)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "updateLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n    \nres = s.links.update(link_id=\"<value>\", request_body=::OpenApiSDK::Operations::UpdateLinkRequestBody.new(\n    url: \"https://google.com\",\n    external_id: \"123456\",\n    tag_ids: [\n    \"<value>\",\n  ],\n  ))\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "updateLink", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n        $requestBody = new Operations\\UpdateLinkRequestBody();\n    $requestBody->url = 'https://google.com';\n    $requestBody->domain = 'tidy-amazon.name';\n    $requestBody->key = '<key>';\n    $requestBody->externalId = '123456';\n    $requestBody->prefix = '<value>';\n    $requestBody->trackConversion = false;\n    $requestBody->archived = false;\n    $requestBody->publicStats = false;\n    $requestBody->tagId = '<value>';\n    $requestBody->tagIds = [\n        '<value>',\n    ];\n    $requestBody->tagNames = '<value>';\n    $requestBody->comments = '<value>';\n    $requestBody->expiresAt = '<value>';\n    $requestBody->expiredUrl = '<value>';\n    $requestBody->password = 'AdaOKvPKDk8CkuA';\n    $requestBody->proxy = false;\n    $requestBody->title = '<value>';\n    $requestBody->description = 'Front-line 24/7 implementation';\n    $requestBody->image = 'https://loremflickr.com/640/480';\n    $requestBody->video = '<value>';\n    $requestBody->rewrite = false;\n    $requestBody->ios = '<value>';\n    $requestBody->android = '<value>';\n    $requestBody->geo = new Components\\LinkGeoTargeting();\n    $requestBody->geo->af = '<value>';\n    $requestBody->geo->al = '<value>';\n    $requestBody->geo->dz = '<value>';\n    $requestBody->geo->as = '<value>';\n    $requestBody->geo->ad = '<value>';\n    $requestBody->geo->ao = '<value>';\n    $requestBody->geo->ai = '<value>';\n    $requestBody->geo->aq = '<value>';\n    $requestBody->geo->ag = '<value>';\n    $requestBody->geo->ar = '<value>';\n    $requestBody->geo->am = '<value>';\n    $requestBody->geo->aw = '<value>';\n    $requestBody->geo->au = '<value>';\n    $requestBody->geo->at = '<value>';\n    $requestBody->geo->az = '<value>';\n    $requestBody->geo->bs = '<value>';\n    $requestBody->geo->bh = '<value>';\n    $requestBody->geo->bd = '<value>';\n    $requestBody->geo->bb = '<value>';\n    $requestBody->geo->by = '<value>';\n    $requestBody->geo->be = '<value>';\n    $requestBody->geo->bz = '<value>';\n    $requestBody->geo->bj = '<value>';\n    $requestBody->geo->bm = '<value>';\n    $requestBody->geo->bt = '<value>';\n    $requestBody->geo->bo = '<value>';\n    $requestBody->geo->ba = '<value>';\n    $requestBody->geo->bw = '<value>';\n    $requestBody->geo->bv = '<value>';\n    $requestBody->geo->br = '<value>';\n    $requestBody->geo->io = '<value>';\n    $requestBody->geo->bn = '<value>';\n    $requestBody->geo->bg = '<value>';\n    $requestBody->geo->bf = '<value>';\n    $requestBody->geo->bi = '<value>';\n    $requestBody->geo->kh = '<value>';\n    $requestBody->geo->cm = '<value>';\n    $requestBody->geo->ca = '<value>';\n    $requestBody->geo->cv = '<value>';\n    $requestBody->geo->ky = '<value>';\n    $requestBody->geo->cf = '<value>';\n    $requestBody->geo->td = '<value>';\n    $requestBody->geo->cl = '<value>';\n    $requestBody->geo->cn = '<value>';\n    $requestBody->geo->cx = '<value>';\n    $requestBody->geo->cc = '<value>';\n    $requestBody->geo->co = '<value>';\n    $requestBody->geo->km = '<value>';\n    $requestBody->geo->cg = '<value>';\n    $requestBody->geo->cd = '<value>';\n    $requestBody->geo->ck = '<value>';\n    $requestBody->geo->cr = '<value>';\n    $requestBody->geo->ci = '<value>';\n    $requestBody->geo->hr = '<value>';\n    $requestBody->geo->cu = '<value>';\n    $requestBody->geo->cy = '<value>';\n    $requestBody->geo->cz = '<value>';\n    $requestBody->geo->dk = '<value>';\n    $requestBody->geo->dj = '<value>';\n    $requestBody->geo->dm = '<value>';\n    $requestBody->geo->do = '<value>';\n    $requestBody->geo->ec = '<value>';\n    $requestBody->geo->eg = '<value>';\n    $requestBody->geo->sv = '<value>';\n    $requestBody->geo->gq = '<value>';\n    $requestBody->geo->er = '<value>';\n    $requestBody->geo->ee = '<value>';\n    $requestBody->geo->et = '<value>';\n    $requestBody->geo->fk = '<value>';\n    $requestBody->geo->fo = '<value>';\n    $requestBody->geo->fj = '<value>';\n    $requestBody->geo->fi = '<value>';\n    $requestBody->geo->fr = '<value>';\n    $requestBody->geo->gf = '<value>';\n    $requestBody->geo->pf = '<value>';\n    $requestBody->geo->tf = '<value>';\n    $requestBody->geo->ga = '<value>';\n    $requestBody->geo->gm = '<value>';\n    $requestBody->geo->ge = '<value>';\n    $requestBody->geo->de = '<value>';\n    $requestBody->geo->gh = '<value>';\n    $requestBody->geo->gi = '<value>';\n    $requestBody->geo->gr = '<value>';\n    $requestBody->geo->gl = '<value>';\n    $requestBody->geo->gd = '<value>';\n    $requestBody->geo->gp = '<value>';\n    $requestBody->geo->gu = '<value>';\n    $requestBody->geo->gt = '<value>';\n    $requestBody->geo->gn = '<value>';\n    $requestBody->geo->gw = '<value>';\n    $requestBody->geo->gy = '<value>';\n    $requestBody->geo->ht = '<value>';\n    $requestBody->geo->hm = '<value>';\n    $requestBody->geo->va = '<value>';\n    $requestBody->geo->hn = '<value>';\n    $requestBody->geo->hk = '<value>';\n    $requestBody->geo->hu = '<value>';\n    $requestBody->geo->is = '<value>';\n    $requestBody->geo->in = '<value>';\n    $requestBody->geo->id = '<id>';\n    $requestBody->geo->ir = '<value>';\n    $requestBody->geo->iq = '<value>';\n    $requestBody->geo->ie = '<value>';\n    $requestBody->geo->il = '<value>';\n    $requestBody->geo->it = '<value>';\n    $requestBody->geo->jm = '<value>';\n    $requestBody->geo->jp = '<value>';\n    $requestBody->geo->jo = '<value>';\n    $requestBody->geo->kz = '<value>';\n    $requestBody->geo->ke = '<value>';\n    $requestBody->geo->ki = '<value>';\n    $requestBody->geo->kp = '<value>';\n    $requestBody->geo->kr = '<value>';\n    $requestBody->geo->kw = '<value>';\n    $requestBody->geo->kg = '<value>';\n    $requestBody->geo->la = '<value>';\n    $requestBody->geo->lv = '<value>';\n    $requestBody->geo->lb = '<value>';\n    $requestBody->geo->ls = '<value>';\n    $requestBody->geo->lr = '<value>';\n    $requestBody->geo->ly = '<value>';\n    $requestBody->geo->li = '<value>';\n    $requestBody->geo->lt = '<value>';\n    $requestBody->geo->lu = '<value>';\n    $requestBody->geo->mo = '<value>';\n    $requestBody->geo->mg = '<value>';\n    $requestBody->geo->mw = '<value>';\n    $requestBody->geo->my = '<value>';\n    $requestBody->geo->mv = '<value>';\n    $requestBody->geo->ml = '<value>';\n    $requestBody->geo->mt = '<value>';\n    $requestBody->geo->mh = '<value>';\n    $requestBody->geo->mq = '<value>';\n    $requestBody->geo->mr = '<value>';\n    $requestBody->geo->mu = '<value>';\n    $requestBody->geo->yt = '<value>';\n    $requestBody->geo->mx = '<value>';\n    $requestBody->geo->fm = '<value>';\n    $requestBody->geo->md = '<value>';\n    $requestBody->geo->mc = '<value>';\n    $requestBody->geo->mn = '<value>';\n    $requestBody->geo->ms = '<value>';\n    $requestBody->geo->ma = '<value>';\n    $requestBody->geo->mz = '<value>';\n    $requestBody->geo->mm = '<value>';\n    $requestBody->geo->na = '<value>';\n    $requestBody->geo->nr = '<value>';\n    $requestBody->geo->np = '<value>';\n    $requestBody->geo->nl = '<value>';\n    $requestBody->geo->nc = '<value>';\n    $requestBody->geo->nz = '<value>';\n    $requestBody->geo->ni = '<value>';\n    $requestBody->geo->ne = '<value>';\n    $requestBody->geo->ng = '<value>';\n    $requestBody->geo->nu = '<value>';\n    $requestBody->geo->nf = '<value>';\n    $requestBody->geo->mk = '<value>';\n    $requestBody->geo->mp = '<value>';\n    $requestBody->geo->no = '<value>';\n    $requestBody->geo->om = '<value>';\n    $requestBody->geo->pk = '<value>';\n    $requestBody->geo->pw = '<value>';\n    $requestBody->geo->ps = '<value>';\n    $requestBody->geo->pa = '<value>';\n    $requestBody->geo->pg = '<value>';\n    $requestBody->geo->py = '<value>';\n    $requestBody->geo->pe = '<value>';\n    $requestBody->geo->ph = '<value>';\n    $requestBody->geo->pn = '<value>';\n    $requestBody->geo->pl = '<value>';\n    $requestBody->geo->pt = '<value>';\n    $requestBody->geo->pr = '<value>';\n    $requestBody->geo->qa = '<value>';\n    $requestBody->geo->re = '<value>';\n    $requestBody->geo->ro = '<value>';\n    $requestBody->geo->ru = '<value>';\n    $requestBody->geo->rw = '<value>';\n    $requestBody->geo->sh = '<value>';\n    $requestBody->geo->kn = '<value>';\n    $requestBody->geo->lc = '<value>';\n    $requestBody->geo->pm = '<value>';\n    $requestBody->geo->vc = '<value>';\n    $requestBody->geo->ws = '<value>';\n    $requestBody->geo->sm = '<value>';\n    $requestBody->geo->st = '<value>';\n    $requestBody->geo->sa = '<value>';\n    $requestBody->geo->sn = '<value>';\n    $requestBody->geo->sc = '<value>';\n    $requestBody->geo->sl = '<value>';\n    $requestBody->geo->sg = '<value>';\n    $requestBody->geo->sk = '<value>';\n    $requestBody->geo->si = '<value>';\n    $requestBody->geo->sb = '<value>';\n    $requestBody->geo->so = '<value>';\n    $requestBody->geo->za = '<value>';\n    $requestBody->geo->gs = '<value>';\n    $requestBody->geo->es = '<value>';\n    $requestBody->geo->lk = '<value>';\n    $requestBody->geo->sd = '<value>';\n    $requestBody->geo->sr = '<value>';\n    $requestBody->geo->sj = '<value>';\n    $requestBody->geo->sz = '<value>';\n    $requestBody->geo->se = '<value>';\n    $requestBody->geo->ch = '<value>';\n    $requestBody->geo->sy = '<value>';\n    $requestBody->geo->tw = '<value>';\n    $requestBody->geo->tj = '<value>';\n    $requestBody->geo->tz = '<value>';\n    $requestBody->geo->th = '<value>';\n    $requestBody->geo->tl = '<value>';\n    $requestBody->geo->tg = '<value>';\n    $requestBody->geo->tk = '<value>';\n    $requestBody->geo->to = '<value>';\n    $requestBody->geo->tt = '<value>';\n    $requestBody->geo->tn = '<value>';\n    $requestBody->geo->tr = '<value>';\n    $requestBody->geo->tm = '<value>';\n    $requestBody->geo->tc = '<value>';\n    $requestBody->geo->tv = '<value>';\n    $requestBody->geo->ug = '<value>';\n    $requestBody->geo->ua = '<value>';\n    $requestBody->geo->ae = '<value>';\n    $requestBody->geo->gb = '<value>';\n    $requestBody->geo->us = '<value>';\n    $requestBody->geo->um = '<value>';\n    $requestBody->geo->uy = '<value>';\n    $requestBody->geo->uz = '<value>';\n    $requestBody->geo->vu = '<value>';\n    $requestBody->geo->ve = '<value>';\n    $requestBody->geo->vn = '<value>';\n    $requestBody->geo->vg = '<value>';\n    $requestBody->geo->vi = '<value>';\n    $requestBody->geo->wf = '<value>';\n    $requestBody->geo->eh = '<value>';\n    $requestBody->geo->ye = '<value>';\n    $requestBody->geo->zm = '<value>';\n    $requestBody->geo->zw = '<value>';\n    $requestBody->geo->ax = '<value>';\n    $requestBody->geo->bq = '<value>';\n    $requestBody->geo->cw = '<value>';\n    $requestBody->geo->gg = '<value>';\n    $requestBody->geo->im = '<value>';\n    $requestBody->geo->je = '<value>';\n    $requestBody->geo->me = '<value>';\n    $requestBody->geo->bl = '<value>';\n    $requestBody->geo->mf = '<value>';\n    $requestBody->geo->rs = '<value>';\n    $requestBody->geo->sx = '<value>';\n    $requestBody->geo->ss = '<value>';\n    $requestBody->geo->xk = '<value>';\n    $requestBody->doIndex = false;\n    $requestBody->utmSource = '<value>';\n    $requestBody->utmMedium = '<value>';\n    $requestBody->utmCampaign = '<value>';\n    $requestBody->utmTerm = '<value>';\n    $requestBody->utmContent = '<value>';\n\n    $response = $sdk->links->update('<value>', $requestBody);\n\n    if ($response->linkSchema !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: updateLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.update(link_id=\"<value>\", request_body={\n    \"url\": \"https://google.com\",\n    \"external_id\": \"123456\",\n    \"tag_ids\": [\n        \"clux0rgak00011...\",\n    ],\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/linkId\")\n  .patch(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Update a link for the authenticated workspace. If there's no change, returns it as it is."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "path"
          name: "linkId"
          description: "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          schema:
            type: "string"
            description: "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          required: true
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "url":
                  type: "string"
                  description: "The destination URL of the short link."
                  example: "https://google.com"
                "domain":
                  type: "string"
                  description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                "key":
                  type: "string"
                  description: "The short link slug. If not provided, a random 7-character slug will be generated."
                "externalId":
                  type: "string"
                  nullable: true
                  minLength: 1
                  maxLength: 255
                  description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                  example: "123456"
                "prefix":
                  type: "string"
                  description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                "trackConversion":
                  type: "boolean"
                  default: false
                  description: "Whether to track conversions for the short link."
                "archived":
                  type: "boolean"
                  default: false
                  description: "Whether the short link is archived."
                "publicStats":
                  type: "boolean"
                  default: false
                  description: "Whether the short link's stats are publicly accessible."
                "tagId":
                  type: "string"
                  nullable: true
                  description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                  deprecated: true
                "tagIds":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique IDs of the tags assigned to the short link."
                  example: ["clux0rgak00011..."]
                "tagNames":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique name of the tags assigned to the short link (case insensitive)."
                "comments":
                  type: "string"
                  nullable: true
                  description: "The comments for the short link."
                "expiresAt":
                  type: "string"
                  nullable: true
                  description: "The date and time when the short link will expire at."
                "expiredUrl":
                  type: "string"
                  nullable: true
                  description: "The URL to redirect to when the short link has expired."
                "password":
                  type: "string"
                  nullable: true
                  description: "The password required to access the destination URL of the short link."
                "proxy":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses Custom Social Media Cards feature."
                "title":
                  type: "string"
                  nullable: true
                  description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "description":
                  type: "string"
                  nullable: true
                  description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "image":
                  type: "string"
                  nullable: true
                  description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "video":
                  type: "string"
                  nullable: true
                  description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "rewrite":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses link cloaking."
                "ios":
                  type: "string"
                  nullable: true
                  description: "The iOS destination URL for the short link for iOS device targeting."
                "android":
                  type: "string"
                  nullable: true
                  description: "The Android destination URL for the short link for Android device targeting."
                "geo":
                  allOf:
                    - {"$ref": "#/components/schemas/linkGeoTargeting"}
                    - description: "Geo targeting information for the short link in JSON format `{[COUNTRY]: https://example.com }`."
                "doIndex":
                  type: "boolean"
                  default: false
                  description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                "utm_source":
                  type: "string"
                  nullable: true
                  description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                "utm_medium":
                  type: "string"
                  nullable: true
                  description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                "utm_campaign":
                  type: "string"
                  nullable: true
                  description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                "utm_term":
                  type: "string"
                  nullable: true
                  description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                "utm_content":
                  type: "string"
                  nullable: true
                  description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
      responses:
        "200":
          description: "The updated link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
    delete:
      operationId: "deleteLink"
      x-speakeasy-name-override: "delete"
      x-speakeasy-max-method-params: 1
      summary: "Delete a link"
      x-codeSamples: [{"lang": "typescript", "label": "deleteLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.delete(\"<value>\");\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "deleteLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    var linkID string = \"<value>\"\n    ctx := context.Background()\n    res, err := s.Links.Delete(ctx, linkID)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "deleteLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n    \nres = s.links.delete(link_id=\"<value>\")\n\nif ! res.object.nil?\n  # handle response\nend"}, {"lang": "php", "label": "deleteLink", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n    \n\n    $response = $sdk->links->delete('<value>');\n\n    if ($response->object !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: deleteLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.delete(link_id=\"<value>\")\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/linkId\")\n  .delete(null)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Delete a link for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "path"
          name: "linkId"
          description: "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          schema:
            type: "string"
            description: "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          required: true
      responses:
        "200":
          description: "The deleted link"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    description: "The ID of the link."
                required:
                  - "id"
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/bulk":
    post:
      operationId: "bulkCreateLinks"
      x-speakeasy-name-override: "createMany"
      summary: "Bulk create links"
      x-codeSamples: [{"lang": "typescript", "label": "bulkCreateLinks", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.createMany();\n\n  // Handle the result\n  console.log(result)\n}\n\nrun();"}, {"lang": "go", "label": "bulkCreateLinks", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n    var request []operations.RequestBody = []operations.RequestBody{\n        operations.RequestBody{\n            URL: \"https://google.com\",\n            ExternalID: dubgo.String(\"123456\"),\n            TagIds: operations.CreateBulkCreateLinksTagIdsArrayOfStr(\n                    []string{\n                        \"clux0rgak00011...\",\n                    },\n            ),\n        },\n    }\n    ctx := context.Background()\n    res, err := s.Links.CreateMany(ctx, request)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "bulkCreateLinks", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = [\n  ::OpenApiSDK::Operations::RequestBody.new(\n    url: \"https://google.com\",\n    external_id: \"123456\",\n    tag_ids: [\n    \"<value>\",\n  ],\n  ),\n]\n    \nres = s.links.create_many(req)\n\nif ! res.link_schemas.nil?\n  # handle response\nend"}, {"lang": "php", "label": "bulkCreateLinks", "source": "<?php\n\ndeclare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse \\Dub;\nuse \\Dub\\Models\\Components;\nuse \\Dub\\Models\\Operations;\n\n$security = new Components\\Security();\n$security->token = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\ntry {\n        $request = [\n        new Operations\\RequestBody(),\n    ];\n\n    $response = $sdk->links->createMany($request);\n\n    if ($response->linkSchemas !== null) {\n        // handle response\n    }\n} catch (Throwable $e) {\n    // handle exception\n}"}, {lang: python, label: bulkCreateLinks, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\n\nres = s.links.create_many(request=[\n    {\n        \"url\": \"https://google.com\",\n        \"external_id\": \"123456\",\n        \"tag_ids\": [\n            \"clux0rgak00011...\",\n        ],\n    },\n])\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"[{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\"}]\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/bulk\")\n  .post(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Bulk create up to 100 links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      requestBody:
        content:
          "application/json":
            schema:
              type: "array"
              items:
                type: "object"
                properties:
                  "url":
                    type: "string"
                    description: "The destination URL of the short link."
                    example: "https://google.com"
                  "domain":
                    type: "string"
                    description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                  "key":
                    type: "string"
                    description: "The short link slug. If not provided, a random 7-character slug will be generated."
                  "externalId":
                    type: "string"
                    nullable: true
                    minLength: 1
                    maxLength: 255
                    description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                    example: "123456"
                  "prefix":
                    type: "string"
                    description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                  "trackConversion":
                    type: "boolean"
                    default: false
                    description: "Whether to track conversions for the short link."
                  "archived":
                    type: "boolean"
                    default: false
                    description: "Whether the short link is archived."
                  "publicStats":
                    type: "boolean"
                    default: false
                    description: "Whether the short link's stats are publicly accessible."
                  "tagId":
                    type: "string"
                    nullable: true
                    description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                    deprecated: true
                  "tagIds":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The unique IDs of the tags assigned to the short link."
                    example: ["clux0rgak00011..."]
                  "tagNames":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The unique name of the tags assigned to the short link (case insensitive)."
                  "comments":
                    type: "string"
                    nullable: true
                    description: "The comments for the short link."
                  "expiresAt":
                    type: "string"
                    nullable: true
                    description: "The date and time when the short link will expire at."
                  "expiredUrl":
                    type: "string"
                    nullable: true
                    description: "The URL to redirect to when the short link has expired."
                  "password":
                    type: "string"
                    nullable: true
                    description: "The password required to access the destination URL of the short link."
                  "proxy":
                    type: "boolean"
                    default: false
                    description: "Whether the short link uses Custom Social Media Cards feature."
                  "title":
                    type: "string"
                    nullable: true
                    description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "description":
                    type: "string"
                    nullable: true
                    description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "image":
                    type: "string"
                    nullable: true
                    description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "video":
                    type: "string"
                    nullable: true
                    description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "rewrite":
                    type: "boolean"
                    default: false
                    description: "Whether the short link uses link cloaking."
                  "ios":
                    type: "string"
                    nullable: true
                    description: "The iOS destination URL for the short link for iOS device targeting."
                  "android":
                    type: "string"
                    nullable: true
                    description: "The Android destination URL for the short link for Android device targeting."
                  "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                  "doIndex":
                    type: "boolean"
                    default: false
                    description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                  "utm_source":
                    type: "string"
                    nullable: true
                    description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                  "utm_medium":
                    type: "string"
[...]
