openapi: "3.0.3"
info:
  title: "Dub.co API"
  description: "Dub is link management infrastructure for companies to create marketing campaigns, link sharing features, and referral programs."
  version: "0.0.1"
  contact:
    name: "Dub.co Support"
    email: "support@dub.co"
    url: "https://dub.co/api"
  license:
    name: "AGPL-3.0 license"
    url: "https://github.com/dubinc/dub/blob/main/LICENSE.md"
servers:
  - url: "https://api.dub.co"
    description: "Production API"
paths:
  "/links":
    post:
      operationId: "createLink"
      x-speakeasy-name-override: "create"
      x-speakeasy-usage-example: true
      summary: "Create a new link"
      x-codeSamples: [{"lang": "typescript", "label": "createLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.create();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "createLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.Create(ctx, &operations.CreateLinkRequestBody{\n        URL: \"https://google.com\",\n        ExternalID: dubgo.String(\"123456\"),\n        TagIds: dubgo.Pointer(operations.CreateTagIdsArrayOfStr(\n            []string{\n                \"clux0rgak00011...\",\n            },\n        )),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "createLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::CreateLinkRequestBody.new(\n  url: \"https://google.com\",\n  external_id: \"123456\",\n  tag_ids: [\n    \"clux0rgak00011...\",\n  ],\n)\n    \nres = s.links.create(req)\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "createLink", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$request = new Operations\\CreateLinkRequestBody(\n    url: 'https://google.com',\n    externalId: '123456',\n    tagIds: [\n        'clux0rgak00011...',\n    ],\n);\n\n$response = $sdk->links->create(\n    request: $request\n);\n\nif ($response->linkSchema !== null) {\n    // handle response\n}"}, {lang: python, label: createLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.create(request={\n    \"url\": \"https://google.com\",\n    \"external_id\": \"123456\",\n    \"tag_ids\": [\n        \"clux0rgak00011...\",\n    ],\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"identifier\\\":\\\"string\\\",\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\",\\\"ref\\\":\\\"string\\\",\\\"webhookIds\\\":[\\\"string\\\"]}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links\")\n  .post(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Create a new link for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "url":
                  type: "string"
                  description: "The destination URL of the short link."
                  example: "https://google.com"
                "domain":
                  type: "string"
                  maxLength: 190
                  description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                "key":
                  type: "string"
                  maxLength: 190
                  description: "The short link slug. If not provided, a random 7-character slug will be generated."
                "externalId":
                  type: "string"
                  nullable: true
                  minLength: 1
                  maxLength: 255
                  description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                  example: "123456"
                "prefix":
                  type: "string"
                  description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                "trackConversion":
                  type: "boolean"
                  default: false
                  description: "Whether to track conversions for the short link."
                "identifier":
                  type: "string"
                  nullable: true
                  description: "The identifier of the short link that is unique across your workspace. If set, it can be used to identify your short link for client-side click tracking."
                "archived":
                  type: "boolean"
                  default: false
                  description: "Whether the short link is archived."
                "publicStats":
                  type: "boolean"
                  default: false
                  description: "Whether the short link's stats are publicly accessible."
                "tagId":
                  type: "string"
                  nullable: true
                  description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                  deprecated: true
                "tagIds":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique IDs of the tags assigned to the short link."
                  example: ["clux0rgak00011..."]
                "tagNames":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique name of the tags assigned to the short link (case insensitive)."
                "comments":
                  type: "string"
                  nullable: true
                  description: "The comments for the short link."
                "expiresAt":
                  type: "string"
                  nullable: true
                  description: "The date and time when the short link will expire at."
                "expiredUrl":
                  type: "string"
                  nullable: true
                  description: "The URL to redirect to when the short link has expired."
                "password":
                  type: "string"
                  nullable: true
                  description: "The password required to access the destination URL of the short link."
                "proxy":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses Custom Social Media Cards feature."
                "title":
                  type: "string"
                  nullable: true
                  description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "description":
                  type: "string"
                  nullable: true
                  description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "image":
                  type: "string"
                  nullable: true
                  description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "video":
                  type: "string"
                  nullable: true
                  description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "rewrite":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses link cloaking."
                "ios":
                  type: "string"
                  nullable: true
                  description: "The iOS destination URL for the short link for iOS device targeting."
                "android":
                  type: "string"
                  nullable: true
                  description: "The Android destination URL for the short link for Android device targeting."
                "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                "doIndex":
                  type: "boolean"
                  default: false
                  description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                "utm_source":
                  type: "string"
                  nullable: true
                  description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                "utm_medium":
                  type: "string"
                  nullable: true
                  description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                "utm_campaign":
                  type: "string"
                  nullable: true
                  description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                "utm_term":
                  type: "string"
                  nullable: true
                  description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                "utm_content":
                  type: "string"
                  nullable: true
                  description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
                "ref":
                  type: "string"
                  nullable: true
                  description: "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."
                "webhookIds":
                  type: "array"
                  nullable: true
                  items:
                    type: "string"
                  description: "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."
              required:
                - "url"
      responses:
        "200":
          description: "The created link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
    get:
      operationId: "getLinks"
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination: {"type": "offsetLimit", "inputs": [{"name": "page", "in": "parameters", "type": "page"}, {"name": "pageSize", "in": "parameters", "type": "limit"}], "outputs": {"results": "$"}}
      x-codeSamples: [{"lang": "typescript", "label": "getLinks", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.list();\n\n  for await (const page of result) {\n    // Handle the page\n    console.log(page);\n  }\n}\n\nrun();"}, {"lang": "go", "label": "getLinks", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.List(ctx, operations.GetLinksRequest{\n        Page: dubgo.Float64(1),\n        PageSize: dubgo.Float64(50),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n                for {\n            // handle items\n        \n            res, err = res.Next()\n        \n            if err != nil {\n                // handle error\n            }\n        \n            if res == nil {\n                break\n            }\n        }\n        \n    }\n}"}, {"lang": "ruby", "label": "getLinks", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinksRequest.new(\n  page: 1.0,\n  page_size: 50.0,\n)\n    \nres = s.links.list(req)\n\nif ! res.link_schemas.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinks", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$request = new Operations\\GetLinksRequest(\n    page: 1,\n    pageSize: 50,\n);\n\n$response = $sdk->links->list(\n    request: $request\n);\n\nif ($response->linkSchemas !== null) {\n    // handle response\n}"}, {lang: python, label: getLinks, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.list(request={\n    \"page\": 1,\n    \"page_size\": 50,\n})\n\nif res is not None:\n    while True:\n        # handle items\n\n        res = res.next()\n        if res is None:\n            break"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      summary: "Retrieve a list of links"
      description: "Retrieve a paginated list of links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
          schema:
            type: "string"
            description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
        - in: "query"
          name: "tagId"
          description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
          schema:
            type: "string"
            description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
            deprecated: true
        - in: "query"
          name: "tagIds"
          description: "The tag IDs to filter the links by."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The tag IDs to filter the links by."
        - in: "query"
          name: "tagNames"
          description: "The unique name of the tags assigned to the short link (case insensitive)."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The unique name of the tags assigned to the short link (case insensitive)."
        - in: "query"
          name: "search"
          description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
          schema:
            type: "string"
            description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
        - in: "query"
          name: "userId"
          description: "The user ID to filter the links by."
          schema:
            type: "string"
            description: "The user ID to filter the links by."
        - in: "query"
          name: "showArchived"
          description: "Whether to include archived links in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include archived links in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "withTags"
          description: "DEPRECATED. Filter for links that have at least one tag assigned to them."
          schema:
            type: "boolean"
            default: "false"
            description: "DEPRECATED. Filter for links that have at least one tag assigned to them."
            deprecated: true
        - in: "query"
          name: "sort"
          description: "The field to sort the links by. The default is `createdAt`, and sort order is always descending."
          schema:
            type: "string"
            enum:
              - "createdAt"
              - "clicks"
              - "lastClicked"
            default: "createdAt"
            description: "The field to sort the links by. The default is `createdAt`, and sort order is always descending."
        - in: "query"
          name: "page"
          description: "The page number for pagination."
          schema:
            type: "number"
            minimum: 0
            exclusiveMinimum: true
            default: 1
            description: "The page number for pagination."
            example: 1
        - in: "query"
          name: "pageSize"
          description: "The number of items per page."
          schema:
            type: "number"
            minimum: 0
            exclusiveMinimum: true
            maximum: 100
            default: 100
            description: "The number of items per page."
            example: 50
      responses:
        "200":
          description: "A list of links"
          content:
            "application/json":
              schema:
                type: "array"
                items: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/count":
    get:
      operationId: "getLinksCount"
      x-speakeasy-name-override: "count"
      summary: "Retrieve links count"
      x-codeSamples: [{"lang": "typescript", "label": "getLinksCount", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.count();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "getLinksCount", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.Count(ctx, operations.GetLinksCountRequest{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "getLinksCount", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinksCountRequest.new()\n    \nres = s.links.count(req)\n\nif ! res.number.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinksCount", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$request = new Operations\\GetLinksCountRequest();\n\n$response = $sdk->links->count(\n    request: $request\n);\n\nif ($response->number !== null) {\n    // handle response\n}"}, {lang: python, label: getLinksCount, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.count(request={})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/count\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Retrieve the number of links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
          schema:
            type: "string"
            description: "The domain to filter the links by. E.g. `ac.me`. If not provided, all links for the workspace will be returned."
        - in: "query"
          name: "tagId"
          description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
          schema:
            type: "string"
            description: "The tag ID to filter the links by. This field is deprecated – use `tagIds` instead."
            deprecated: true
        - in: "query"
          name: "tagIds"
          description: "The tag IDs to filter the links by."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The tag IDs to filter the links by."
        - in: "query"
          name: "tagNames"
          description: "The unique name of the tags assigned to the short link (case insensitive)."
          schema:
            anyOf:
              - type: "string"
              - type: "array"
                items:
                  type: "string"
            description: "The unique name of the tags assigned to the short link (case insensitive)."
        - in: "query"
          name: "search"
          description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
          schema:
            type: "string"
            description: "The search term to filter the links by. The search term will be matched against the short link slug and the destination url."
        - in: "query"
          name: "userId"
          description: "The user ID to filter the links by."
          schema:
            type: "string"
            description: "The user ID to filter the links by."
        - in: "query"
          name: "showArchived"
          description: "Whether to include archived links in the response. Defaults to `false` if not provided."
          schema:
            type: "boolean"
            default: "false"
            description: "Whether to include archived links in the response. Defaults to `false` if not provided."
        - in: "query"
          name: "withTags"
          description: "DEPRECATED. Filter for links that have at least one tag assigned to them."
          schema:
            type: "boolean"
            default: "false"
            description: "DEPRECATED. Filter for links that have at least one tag assigned to them."
            deprecated: true
        - in: "query"
          name: "groupBy"
          description: "The field to group the links by."
          schema:
            anyOf:
              - type: "string"
                enum:
                  - "domain"
              - type: "string"
                enum:
                  - "tagId"
              - type: "string"
                enum:
                  - "userId"
            description: "The field to group the links by."
      responses:
        "200":
          description: "A list of links"
          content:
            "application/json":
              schema:
                type: "number"
                description: "The number of links matching the query."
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/info":
    get:
      operationId: "getLinkInfo"
      x-speakeasy-name-override: "get"
      summary: "Retrieve a link"
      x-codeSamples: [{"lang": "typescript", "label": "getLinkInfo", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.get();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "getLinkInfo", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.Get(ctx, operations.GetLinkInfoRequest{\n        LinkID: dubgo.String(\"clux0rgak00011...\"),\n        ExternalID: dubgo.String(\"123456\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "getLinkInfo", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::GetLinkInfoRequest.new(\n  link_id: \"clux0rgak00011...\",\n  external_id: \"123456\",\n)\n    \nres = s.links.get(req)\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "getLinkInfo", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n\n\n$response = $sdk->links->get(\n    domain: 'rural-mathematics.name',\n    key: '<key>',\n    linkId: 'clux0rgak00011...',\n    externalId: '123456'\n\n);\n\nif ($response->linkSchema !== null) {\n    // handle response\n}"}, {lang: python, label: getLinkInfo, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.get(request={\n    \"link_id\": \"clux0rgak00011...\",\n    \"external_id\": \"123456\",\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/info\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Retrieve the info for a link."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "query"
          name: "domain"
          schema:
            type: "string"
            minLength: 1
            description: "The domain of the link to retrieve. E.g. for `d.to/github`, the domain is `d.to`."
        - in: "query"
          name: "key"
          description: "The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."
          schema:
            type: "string"
            minLength: 1
            description: "The key of the link to retrieve. E.g. for `d.to/github`, the key is `github`."
        - in: "query"
          name: "linkId"
          description: "The unique ID of the short link."
          schema:
            type: "string"
            description: "The unique ID of the short link."
            example: "clux0rgak00011..."
        - in: "query"
          name: "externalId"
          description: "This is the ID of the link in the your database."
          schema:
            type: "string"
            description: "This is the ID of the link in the your database."
            example: "123456"
      responses:
        "200":
          description: "The retrieved link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/{linkId}":
    patch:
      operationId: "updateLink"
      x-speakeasy-name-override: "update"
      x-speakeasy-max-method-params: 2
      summary: "Update a link"
      x-codeSamples: [{"lang": "typescript", "label": "updateLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.update(\"<id>\");\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "updateLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.Update(ctx, \"<id>\", &operations.UpdateLinkRequestBody{\n        URL: dubgo.String(\"https://google.com\"),\n        ExternalID: dubgo.String(\"123456\"),\n        TagIds: dubgo.Pointer(operations.CreateUpdateLinkTagIdsArrayOfStr(\n            []string{\n                \"clux0rgak00011...\",\n            },\n        )),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "updateLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n    \nres = s.links.update(link_id=\"<id>\", request_body=::OpenApiSDK::Operations::UpdateLinkRequestBody.new(\n  url: \"https://google.com\",\n  external_id: \"123456\",\n  tag_ids: [\n    \"clux0rgak00011...\",\n  ],\n))\n\nif ! res.link_schema.nil?\n  # handle response\nend"}, {"lang": "php", "label": "updateLink", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$requestBody = new Operations\\UpdateLinkRequestBody(\n    url: 'https://google.com',\n    externalId: '123456',\n    tagIds: [\n        'clux0rgak00011...',\n    ],\n);\n\n$response = $sdk->links->update(\n    linkId: '<id>',\n    requestBody: $requestBody\n\n);\n\nif ($response->linkSchema !== null) {\n    // handle response\n}"}, {lang: python, label: updateLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.update(link_id=\"<id>\", request_body={\n    \"url\": \"https://google.com\",\n    \"external_id\": \"123456\",\n    \"tag_ids\": [\n        \"clux0rgak00011...\",\n    ],\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"identifier\\\":\\\"string\\\",\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\",\\\"ref\\\":\\\"string\\\",\\\"webhookIds\\\":[\\\"string\\\"]}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/linkId\")\n  .patch(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Update a link for the authenticated workspace. If there's no change, returns it as it is."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "path"
          name: "linkId"
          description: "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          schema:
            type: "string"
            description: "The id of the link to update. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          required: true
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "url":
                  type: "string"
                  description: "The destination URL of the short link."
                  example: "https://google.com"
                "domain":
                  type: "string"
                  maxLength: 190
                  description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                "key":
                  type: "string"
                  maxLength: 190
                  description: "The short link slug. If not provided, a random 7-character slug will be generated."
                "externalId":
                  type: "string"
                  nullable: true
                  minLength: 1
                  maxLength: 255
                  description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                  example: "123456"
                "prefix":
                  type: "string"
                  description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                "trackConversion":
                  type: "boolean"
                  default: false
                  description: "Whether to track conversions for the short link."
                "identifier":
                  type: "string"
                  nullable: true
                  description: "The identifier of the short link that is unique across your workspace. If set, it can be used to identify your short link for client-side click tracking."
                "archived":
                  type: "boolean"
                  default: false
                  description: "Whether the short link is archived."
                "publicStats":
                  type: "boolean"
                  default: false
                  description: "Whether the short link's stats are publicly accessible."
                "tagId":
                  type: "string"
                  nullable: true
                  description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                  deprecated: true
                "tagIds":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique IDs of the tags assigned to the short link."
                  example: ["clux0rgak00011..."]
                "tagNames":
                  anyOf:
                    - type: "string"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The unique name of the tags assigned to the short link (case insensitive)."
                "comments":
                  type: "string"
                  nullable: true
                  description: "The comments for the short link."
                "expiresAt":
                  type: "string"
                  nullable: true
                  description: "The date and time when the short link will expire at."
                "expiredUrl":
                  type: "string"
                  nullable: true
                  description: "The URL to redirect to when the short link has expired."
                "password":
                  type: "string"
                  nullable: true
                  description: "The password required to access the destination URL of the short link."
                "proxy":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses Custom Social Media Cards feature."
                "title":
                  type: "string"
                  nullable: true
                  description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "description":
                  type: "string"
                  nullable: true
                  description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "image":
                  type: "string"
                  nullable: true
                  description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "video":
                  type: "string"
                  nullable: true
                  description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                "rewrite":
                  type: "boolean"
                  default: false
                  description: "Whether the short link uses link cloaking."
                "ios":
                  type: "string"
                  nullable: true
                  description: "The iOS destination URL for the short link for iOS device targeting."
                "android":
                  type: "string"
                  nullable: true
                  description: "The Android destination URL for the short link for Android device targeting."
                "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                "doIndex":
                  type: "boolean"
                  default: false
                  description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                "utm_source":
                  type: "string"
                  nullable: true
                  description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                "utm_medium":
                  type: "string"
                  nullable: true
                  description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                "utm_campaign":
                  type: "string"
                  nullable: true
                  description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                "utm_term":
                  type: "string"
                  nullable: true
                  description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                "utm_content":
                  type: "string"
                  nullable: true
                  description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
                "ref":
                  type: "string"
                  nullable: true
                  description: "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."
                "webhookIds":
                  type: "array"
                  nullable: true
                  items:
                    type: "string"
                  description: "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."
      responses:
        "200":
          description: "The updated link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
    delete:
      operationId: "deleteLink"
      x-speakeasy-name-override: "delete"
      x-speakeasy-max-method-params: 1
      summary: "Delete a link"
      x-codeSamples: [{"lang": "typescript", "label": "deleteLink", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.delete(\"<id>\");\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "deleteLink", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.Delete(ctx, \"<id>\")\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "deleteLink", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n    \nres = s.links.delete(link_id=\"<id>\")\n\nif ! res.object.nil?\n  # handle response\nend"}, {"lang": "php", "label": "deleteLink", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n\n\n$response = $sdk->links->delete(\n    linkId: '<id>'\n);\n\nif ($response->object !== null) {\n    // handle response\n}"}, {lang: python, label: deleteLink, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.delete(link_id=\"<id>\")\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/linkId\")\n  .delete(null)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Delete a link for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      parameters:
        - in: "path"
          name: "linkId"
          description: "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          schema:
            type: "string"
            description: "The id of the link to delete. You may use either `linkId` (obtained via `/links/info` endpoint) or `externalId` prefixed with `ext_`."
          required: true
      responses:
        "200":
          description: "The deleted link ID."
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "id":
                    type: "string"
                    description: "The ID of the link."
                required:
                  - "id"
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
  "/links/bulk":
    post:
      operationId: "bulkCreateLinks"
      x-speakeasy-name-override: "createMany"
      summary: "Bulk create links"
      x-codeSamples: [{"lang": "typescript", "label": "bulkCreateLinks", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.createMany();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "bulkCreateLinks", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.CreateMany(ctx, []operations.RequestBody{\n        operations.RequestBody{\n            URL: \"https://google.com\",\n            ExternalID: dubgo.String(\"123456\"),\n            TagIds: dubgo.Pointer(operations.CreateBulkCreateLinksTagIdsArrayOfStr(\n                []string{\n                    \"clux0rgak00011...\",\n                },\n            )),\n        },\n        operations.RequestBody{\n            URL: \"https://google.com\",\n            ExternalID: dubgo.String(\"123456\"),\n            TagIds: dubgo.Pointer(operations.CreateBulkCreateLinksTagIdsArrayOfStr(\n                []string{\n                    \"clux0rgak00011...\",\n                },\n            )),\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "bulkCreateLinks", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = [\n  ::OpenApiSDK::Operations::RequestBody.new(\n    url: \"https://google.com\",\n    external_id: \"123456\",\n    tag_ids: [\n      \"clux0rgak00011...\",\n    ],\n  ),\n]\n    \nres = s.links.create_many(req)\n\nif ! res.link_schemas.nil?\n  # handle response\nend"}, {"lang": "php", "label": "bulkCreateLinks", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$request = [\n    new Operations\\RequestBody(\n        url: 'https://google.com',\n        externalId: '123456',\n        tagIds: [\n            'clux0rgak00011...',\n        ],\n    ),\n];\n\n$response = $sdk->links->createMany(\n    request: $request\n);\n\nif ($response->linkSchemas !== null) {\n    // handle response\n}"}, {lang: python, label: bulkCreateLinks, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.create_many(request=[\n    {\n        \"url\": \"https://google.com\",\n        \"external_id\": \"123456\",\n        \"tag_ids\": [\n            \"clux0rgak00011...\",\n        ],\n    },\n    {\n        \"url\": \"https://google.com\",\n        \"external_id\": \"123456\",\n        \"tag_ids\": [\n            \"clux0rgak00011...\",\n        ],\n    },\n])\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"[{\\\"url\\\":\\\"https://google.com\\\",\\\"domain\\\":\\\"string\\\",\\\"key\\\":\\\"string\\\",\\\"externalId\\\":\\\"123456\\\",\\\"prefix\\\":\\\"string\\\",\\\"trackConversion\\\":false,\\\"identifier\\\":\\\"string\\\",\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\",\\\"ref\\\":\\\"string\\\",\\\"webhookIds\\\":[\\\"string\\\"]}]\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/bulk\")\n  .post(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Bulk create up to 100 links for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      requestBody:
        content:
          "application/json":
            schema:
              type: "array"
              items:
                type: "object"
                properties:
                  "url":
                    type: "string"
                    description: "The destination URL of the short link."
                    example: "https://google.com"
                  "domain":
                    type: "string"
                    maxLength: 190
                    description: "The domain of the short link. If not provided, the primary domain for the workspace will be used (or `dub.sh` if the workspace has no domains)."
                  "key":
                    type: "string"
                    maxLength: 190
                    description: "The short link slug. If not provided, a random 7-character slug will be generated."
                  "externalId":
                    type: "string"
                    nullable: true
                    minLength: 1
                    maxLength: 255
                    description: "This is the ID of the link in your database. If set, it can be used to identify the link in the future. Must be prefixed with `ext_` when passed as a query parameter."
                    example: "123456"
                  "prefix":
                    type: "string"
                    description: "The prefix of the short link slug for randomly-generated keys (e.g. if prefix is `/c/`, generated keys will be in the `/c/:key` format). Will be ignored if `key` is provided."
                  "trackConversion":
                    type: "boolean"
                    default: false
                    description: "Whether to track conversions for the short link."
                  "identifier":
                    type: "string"
                    nullable: true
                    description: "The identifier of the short link that is unique across your workspace. If set, it can be used to identify your short link for client-side click tracking."
                  "archived":
                    type: "boolean"
                    default: false
                    description: "Whether the short link is archived."
                  "publicStats":
                    type: "boolean"
                    default: false
                    description: "Whether the short link's stats are publicly accessible."
                  "tagId":
                    type: "string"
                    nullable: true
                    description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                    deprecated: true
                  "tagIds":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The unique IDs of the tags assigned to the short link."
                    example: ["clux0rgak00011..."]
                  "tagNames":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The unique name of the tags assigned to the short link (case insensitive)."
                  "comments":
                    type: "string"
                    nullable: true
                    description: "The comments for the short link."
                  "expiresAt":
                    type: "string"
                    nullable: true
                    description: "The date and time when the short link will expire at."
                  "expiredUrl":
                    type: "string"
                    nullable: true
                    description: "The URL to redirect to when the short link has expired."
                  "password":
                    type: "string"
                    nullable: true
                    description: "The password required to access the destination URL of the short link."
                  "proxy":
                    type: "boolean"
                    default: false
                    description: "Whether the short link uses Custom Social Media Cards feature."
                  "title":
                    type: "string"
                    nullable: true
                    description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "description":
                    type: "string"
                    nullable: true
                    description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "image":
                    type: "string"
                    nullable: true
                    description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "video":
                    type: "string"
                    nullable: true
                    description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                  "rewrite":
                    type: "boolean"
                    default: false
                    description: "Whether the short link uses link cloaking."
                  "ios":
                    type: "string"
                    nullable: true
                    description: "The iOS destination URL for the short link for iOS device targeting."
                  "android":
                    type: "string"
                    nullable: true
                    description: "The Android destination URL for the short link for Android device targeting."
                  "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                  "doIndex":
                    type: "boolean"
                    default: false
                    description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                  "utm_source":
                    type: "string"
                    nullable: true
                    description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                  "utm_medium":
                    type: "string"
                    nullable: true
                    description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                  "utm_campaign":
                    type: "string"
                    nullable: true
                    description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                  "utm_term":
                    type: "string"
                    nullable: true
                    description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                  "utm_content":
                    type: "string"
                    nullable: true
                    description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
                  "ref":
                    type: "string"
                    nullable: true
                    description: "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."
                  "webhookIds":
                    type: "array"
                    nullable: true
                    items:
                      type: "string"
                    description: "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."
                required:
                  - "url"
      responses:
        "200":
          description: "The created links"
          content:
            "application/json":
              schema:
                type: "array"
                items: {"$ref": "#/components/schemas/LinkSchema"}
        "400": {"$ref": "#/components/responses/400"}
        "401": {"$ref": "#/components/responses/401"}
        "403": {"$ref": "#/components/responses/403"}
        "404": {"$ref": "#/components/responses/404"}
        "409": {"$ref": "#/components/responses/409"}
        "410": {"$ref": "#/components/responses/410"}
        "422": {"$ref": "#/components/responses/422"}
        "429": {"$ref": "#/components/responses/429"}
        "500": {"$ref": "#/components/responses/500"}
    patch:
      operationId: "bulkUpdateLinks"
      x-speakeasy-name-override: "updateMany"
      summary: "Bulk update links"
      x-codeSamples: [{"lang": "typescript", "label": "bulkUpdateLinks", "source": "import { Dub } from \"dub\";\n\nconst dub = new Dub({\n  token: \"DUB_API_KEY\",\n});\n\nasync function run() {\n  const result = await dub.links.updateMany();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"}, {"lang": "go", "label": "bulkUpdateLinks", "source": "package main\n\nimport(\n\tdubgo \"github.com/dubinc/dub-go\"\n\t\"context\"\n\t\"github.com/dubinc/dub-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    s := dubgo.New(\n        dubgo.WithSecurity(\"DUB_API_KEY\"),\n    )\n\n    ctx := context.Background()\n    res, err := s.Links.UpdateMany(ctx, &operations.BulkUpdateLinksRequestBody{\n        Data: operations.Data{\n            URL: dubgo.String(\"https://google.com\"),\n            TagIds: dubgo.Pointer(operations.CreateBulkUpdateLinksTagIdsArrayOfStr(\n                []string{\n                    \"clux0rgak00011...\",\n                },\n            )),\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"}, {"lang": "ruby", "label": "bulkUpdateLinks", "source": "require 'dub'\n\n\ns = ::OpenApiSDK::Dub.new\ns.config_security(\n  ::OpenApiSDK::Shared::Security.new(\n    token: \"DUB_API_KEY\",\n  )\n)\n\n\nreq = ::OpenApiSDK::Operations::BulkUpdateLinksRequestBody.new(\n  data: ::OpenApiSDK::Operations::Data.new(\n    url: \"https://google.com\",\n    tag_ids: [\n      \"clux0rgak00011...\",\n    ],\n  ),\n)\n    \nres = s.links.update_many(req)\n\nif ! res.link_schemas.nil?\n  # handle response\nend"}, {"lang": "php", "label": "bulkUpdateLinks", "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Dub;\nuse Dub\\Models\\Operations;\n\n$security = 'DUB_API_KEY';\n\n$sdk = Dub\\Dub::builder()->setSecurity($security)->build();\n\n$request = new Operations\\BulkUpdateLinksRequestBody(\n    data: new Operations\\Data(\n        url: 'https://google.com',\n        tagIds: [\n            'clux0rgak00011...',\n        ],\n    ),\n);\n\n$response = $sdk->links->updateMany(\n    request: $request\n);\n\nif ($response->linkSchemas !== null) {\n    // handle response\n}"}, {lang: python, label: bulkUpdateLinks, source: "from dub import Dub\n\ns = Dub(\n    token=\"DUB_API_KEY\",\n)\n\nres = s.links.update_many(request={\n    \"data\": {\n        \"url\": \"https://google.com\",\n        \"tag_ids\": [\n            \"clux0rgak00011...\",\n        ],\n    },\n})\n\nif res is not None:\n    # handle response\n    pass"}, {"lang": "java", "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"linkIds\\\":[\\\"string\\\"],\\\"externalIds\\\":[\\\"string\\\"],\\\"data\\\":{\\\"url\\\":\\\"https://google.com\\\",\\\"trackConversion\\\":false,\\\"archived\\\":false,\\\"publicStats\\\":false,\\\"tagIds\\\":\\\"string\\\",\\\"tagNames\\\":\\\"string\\\",\\\"comments\\\":\\\"string\\\",\\\"expiresAt\\\":\\\"string\\\",\\\"expiredUrl\\\":\\\"string\\\",\\\"password\\\":\\\"string\\\",\\\"proxy\\\":false,\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"image\\\":\\\"string\\\",\\\"video\\\":\\\"string\\\",\\\"rewrite\\\":false,\\\"ios\\\":\\\"string\\\",\\\"android\\\":\\\"string\\\",\\\"geo\\\":{\\\"AF\\\":\\\"string\\\",\\\"AL\\\":\\\"string\\\",\\\"DZ\\\":\\\"string\\\",\\\"AS\\\":\\\"string\\\",\\\"AD\\\":\\\"string\\\",\\\"AO\\\":\\\"string\\\",\\\"AI\\\":\\\"string\\\",\\\"AQ\\\":\\\"string\\\",\\\"AG\\\":\\\"string\\\",\\\"AR\\\":\\\"string\\\",\\\"AM\\\":\\\"string\\\",\\\"AW\\\":\\\"string\\\",\\\"AU\\\":\\\"string\\\",\\\"AT\\\":\\\"string\\\",\\\"AZ\\\":\\\"string\\\",\\\"BS\\\":\\\"string\\\",\\\"BH\\\":\\\"string\\\",\\\"BD\\\":\\\"string\\\",\\\"BB\\\":\\\"string\\\",\\\"BY\\\":\\\"string\\\",\\\"BE\\\":\\\"string\\\",\\\"BZ\\\":\\\"string\\\",\\\"BJ\\\":\\\"string\\\",\\\"BM\\\":\\\"string\\\",\\\"BT\\\":\\\"string\\\",\\\"BO\\\":\\\"string\\\",\\\"BA\\\":\\\"string\\\",\\\"BW\\\":\\\"string\\\",\\\"BV\\\":\\\"string\\\",\\\"BR\\\":\\\"string\\\",\\\"IO\\\":\\\"string\\\",\\\"BN\\\":\\\"string\\\",\\\"BG\\\":\\\"string\\\",\\\"BF\\\":\\\"string\\\",\\\"BI\\\":\\\"string\\\",\\\"KH\\\":\\\"string\\\",\\\"CM\\\":\\\"string\\\",\\\"CA\\\":\\\"string\\\",\\\"CV\\\":\\\"string\\\",\\\"KY\\\":\\\"string\\\",\\\"CF\\\":\\\"string\\\",\\\"TD\\\":\\\"string\\\",\\\"CL\\\":\\\"string\\\",\\\"CN\\\":\\\"string\\\",\\\"CX\\\":\\\"string\\\",\\\"CC\\\":\\\"string\\\",\\\"CO\\\":\\\"string\\\",\\\"KM\\\":\\\"string\\\",\\\"CG\\\":\\\"string\\\",\\\"CD\\\":\\\"string\\\",\\\"CK\\\":\\\"string\\\",\\\"CR\\\":\\\"string\\\",\\\"CI\\\":\\\"string\\\",\\\"HR\\\":\\\"string\\\",\\\"CU\\\":\\\"string\\\",\\\"CY\\\":\\\"string\\\",\\\"CZ\\\":\\\"string\\\",\\\"DK\\\":\\\"string\\\",\\\"DJ\\\":\\\"string\\\",\\\"DM\\\":\\\"string\\\",\\\"DO\\\":\\\"string\\\",\\\"EC\\\":\\\"string\\\",\\\"EG\\\":\\\"string\\\",\\\"SV\\\":\\\"string\\\",\\\"GQ\\\":\\\"string\\\",\\\"ER\\\":\\\"string\\\",\\\"EE\\\":\\\"string\\\",\\\"ET\\\":\\\"string\\\",\\\"FK\\\":\\\"string\\\",\\\"FO\\\":\\\"string\\\",\\\"FJ\\\":\\\"string\\\",\\\"FI\\\":\\\"string\\\",\\\"FR\\\":\\\"string\\\",\\\"GF\\\":\\\"string\\\",\\\"PF\\\":\\\"string\\\",\\\"TF\\\":\\\"string\\\",\\\"GA\\\":\\\"string\\\",\\\"GM\\\":\\\"string\\\",\\\"GE\\\":\\\"string\\\",\\\"DE\\\":\\\"string\\\",\\\"GH\\\":\\\"string\\\",\\\"GI\\\":\\\"string\\\",\\\"GR\\\":\\\"string\\\",\\\"GL\\\":\\\"string\\\",\\\"GD\\\":\\\"string\\\",\\\"GP\\\":\\\"string\\\",\\\"GU\\\":\\\"string\\\",\\\"GT\\\":\\\"string\\\",\\\"GN\\\":\\\"string\\\",\\\"GW\\\":\\\"string\\\",\\\"GY\\\":\\\"string\\\",\\\"HT\\\":\\\"string\\\",\\\"HM\\\":\\\"string\\\",\\\"VA\\\":\\\"string\\\",\\\"HN\\\":\\\"string\\\",\\\"HK\\\":\\\"string\\\",\\\"HU\\\":\\\"string\\\",\\\"IS\\\":\\\"string\\\",\\\"IN\\\":\\\"string\\\",\\\"ID\\\":\\\"string\\\",\\\"IR\\\":\\\"string\\\",\\\"IQ\\\":\\\"string\\\",\\\"IE\\\":\\\"string\\\",\\\"IL\\\":\\\"string\\\",\\\"IT\\\":\\\"string\\\",\\\"JM\\\":\\\"string\\\",\\\"JP\\\":\\\"string\\\",\\\"JO\\\":\\\"string\\\",\\\"KZ\\\":\\\"string\\\",\\\"KE\\\":\\\"string\\\",\\\"KI\\\":\\\"string\\\",\\\"KP\\\":\\\"string\\\",\\\"KR\\\":\\\"string\\\",\\\"KW\\\":\\\"string\\\",\\\"KG\\\":\\\"string\\\",\\\"LA\\\":\\\"string\\\",\\\"LV\\\":\\\"string\\\",\\\"LB\\\":\\\"string\\\",\\\"LS\\\":\\\"string\\\",\\\"LR\\\":\\\"string\\\",\\\"LY\\\":\\\"string\\\",\\\"LI\\\":\\\"string\\\",\\\"LT\\\":\\\"string\\\",\\\"LU\\\":\\\"string\\\",\\\"MO\\\":\\\"string\\\",\\\"MG\\\":\\\"string\\\",\\\"MW\\\":\\\"string\\\",\\\"MY\\\":\\\"string\\\",\\\"MV\\\":\\\"string\\\",\\\"ML\\\":\\\"string\\\",\\\"MT\\\":\\\"string\\\",\\\"MH\\\":\\\"string\\\",\\\"MQ\\\":\\\"string\\\",\\\"MR\\\":\\\"string\\\",\\\"MU\\\":\\\"string\\\",\\\"YT\\\":\\\"string\\\",\\\"MX\\\":\\\"string\\\",\\\"FM\\\":\\\"string\\\",\\\"MD\\\":\\\"string\\\",\\\"MC\\\":\\\"string\\\",\\\"MN\\\":\\\"string\\\",\\\"MS\\\":\\\"string\\\",\\\"MA\\\":\\\"string\\\",\\\"MZ\\\":\\\"string\\\",\\\"MM\\\":\\\"string\\\",\\\"NA\\\":\\\"string\\\",\\\"NR\\\":\\\"string\\\",\\\"NP\\\":\\\"string\\\",\\\"NL\\\":\\\"string\\\",\\\"NC\\\":\\\"string\\\",\\\"NZ\\\":\\\"string\\\",\\\"NI\\\":\\\"string\\\",\\\"NE\\\":\\\"string\\\",\\\"NG\\\":\\\"string\\\",\\\"NU\\\":\\\"string\\\",\\\"NF\\\":\\\"string\\\",\\\"MK\\\":\\\"string\\\",\\\"MP\\\":\\\"string\\\",\\\"NO\\\":\\\"string\\\",\\\"OM\\\":\\\"string\\\",\\\"PK\\\":\\\"string\\\",\\\"PW\\\":\\\"string\\\",\\\"PS\\\":\\\"string\\\",\\\"PA\\\":\\\"string\\\",\\\"PG\\\":\\\"string\\\",\\\"PY\\\":\\\"string\\\",\\\"PE\\\":\\\"string\\\",\\\"PH\\\":\\\"string\\\",\\\"PN\\\":\\\"string\\\",\\\"PL\\\":\\\"string\\\",\\\"PT\\\":\\\"string\\\",\\\"PR\\\":\\\"string\\\",\\\"QA\\\":\\\"string\\\",\\\"RE\\\":\\\"string\\\",\\\"RO\\\":\\\"string\\\",\\\"RU\\\":\\\"string\\\",\\\"RW\\\":\\\"string\\\",\\\"SH\\\":\\\"string\\\",\\\"KN\\\":\\\"string\\\",\\\"LC\\\":\\\"string\\\",\\\"PM\\\":\\\"string\\\",\\\"VC\\\":\\\"string\\\",\\\"WS\\\":\\\"string\\\",\\\"SM\\\":\\\"string\\\",\\\"ST\\\":\\\"string\\\",\\\"SA\\\":\\\"string\\\",\\\"SN\\\":\\\"string\\\",\\\"SC\\\":\\\"string\\\",\\\"SL\\\":\\\"string\\\",\\\"SG\\\":\\\"string\\\",\\\"SK\\\":\\\"string\\\",\\\"SI\\\":\\\"string\\\",\\\"SB\\\":\\\"string\\\",\\\"SO\\\":\\\"string\\\",\\\"ZA\\\":\\\"string\\\",\\\"GS\\\":\\\"string\\\",\\\"ES\\\":\\\"string\\\",\\\"LK\\\":\\\"string\\\",\\\"SD\\\":\\\"string\\\",\\\"SR\\\":\\\"string\\\",\\\"SJ\\\":\\\"string\\\",\\\"SZ\\\":\\\"string\\\",\\\"SE\\\":\\\"string\\\",\\\"CH\\\":\\\"string\\\",\\\"SY\\\":\\\"string\\\",\\\"TW\\\":\\\"string\\\",\\\"TJ\\\":\\\"string\\\",\\\"TZ\\\":\\\"string\\\",\\\"TH\\\":\\\"string\\\",\\\"TL\\\":\\\"string\\\",\\\"TG\\\":\\\"string\\\",\\\"TK\\\":\\\"string\\\",\\\"TO\\\":\\\"string\\\",\\\"TT\\\":\\\"string\\\",\\\"TN\\\":\\\"string\\\",\\\"TR\\\":\\\"string\\\",\\\"TM\\\":\\\"string\\\",\\\"TC\\\":\\\"string\\\",\\\"TV\\\":\\\"string\\\",\\\"UG\\\":\\\"string\\\",\\\"UA\\\":\\\"string\\\",\\\"AE\\\":\\\"string\\\",\\\"GB\\\":\\\"string\\\",\\\"US\\\":\\\"string\\\",\\\"UM\\\":\\\"string\\\",\\\"UY\\\":\\\"string\\\",\\\"UZ\\\":\\\"string\\\",\\\"VU\\\":\\\"string\\\",\\\"VE\\\":\\\"string\\\",\\\"VN\\\":\\\"string\\\",\\\"VG\\\":\\\"string\\\",\\\"VI\\\":\\\"string\\\",\\\"WF\\\":\\\"string\\\",\\\"EH\\\":\\\"string\\\",\\\"YE\\\":\\\"string\\\",\\\"ZM\\\":\\\"string\\\",\\\"ZW\\\":\\\"string\\\",\\\"AX\\\":\\\"string\\\",\\\"BQ\\\":\\\"string\\\",\\\"CW\\\":\\\"string\\\",\\\"GG\\\":\\\"string\\\",\\\"IM\\\":\\\"string\\\",\\\"JE\\\":\\\"string\\\",\\\"ME\\\":\\\"string\\\",\\\"BL\\\":\\\"string\\\",\\\"MF\\\":\\\"string\\\",\\\"RS\\\":\\\"string\\\",\\\"SX\\\":\\\"string\\\",\\\"SS\\\":\\\"string\\\",\\\"XK\\\":\\\"string\\\"},\\\"doIndex\\\":false,\\\"utm_source\\\":\\\"string\\\",\\\"utm_medium\\\":\\\"string\\\",\\\"utm_campaign\\\":\\\"string\\\",\\\"utm_term\\\":\\\"string\\\",\\\"utm_content\\\":\\\"string\\\",\\\"ref\\\":\\\"string\\\",\\\"webhookIds\\\":[\\\"string\\\"]}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.dub.co/links/bulk\")\n  .patch(body)\n  .addHeader(\"accept\", \"application/json\")\n  .addHeader(\"content-type\", \"application/json\")\n  .addHeader(\"authorization\", \"Bearer MY_TOKEN\")\n  .build();\n\nResponse response = client.newCall(request).execute();"}]
      description: "Bulk update up to 100 links with the same data for the authenticated workspace."
      tags:
        - "Links"
      security:
        - token: []
      requestBody:
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "linkIds":
                  type: "array"
                  items:
                    type: "string"
                  maxItems: 100
                  description: "The IDs of the links to update. Takes precedence over `externalIds`."
                  default: []
                "externalIds":
                  type: "array"
                  items:
                    type: "string"
                  maxItems: 100
                  description: "The external IDs of the links to update as stored in your database."
                  default: []
                "data":
                  type: "object"
                  properties:
                    "url":
                      type: "string"
                      description: "The destination URL of the short link."
                      example: "https://google.com"
                    "trackConversion":
                      type: "boolean"
                      default: false
                      description: "Whether to track conversions for the short link."
                    "archived":
                      type: "boolean"
                      default: false
                      description: "Whether the short link is archived."
                    "publicStats":
                      type: "boolean"
                      default: false
                      description: "Whether the short link's stats are publicly accessible."
                    "tagId":
                      type: "string"
                      nullable: true
                      description: "The unique ID of the tag assigned to the short link. This field is deprecated – use `tagIds` instead."
                      deprecated: true
                    "tagIds":
                      anyOf:
                        - type: "string"
                        - type: "array"
                          items:
                            type: "string"
                      description: "The unique IDs of the tags assigned to the short link."
                      example: ["clux0rgak00011..."]
                    "tagNames":
                      anyOf:
                        - type: "string"
                        - type: "array"
                          items:
                            type: "string"
                      description: "The unique name of the tags assigned to the short link (case insensitive)."
                    "comments":
                      type: "string"
                      nullable: true
                      description: "The comments for the short link."
                    "expiresAt":
                      type: "string"
                      nullable: true
                      description: "The date and time when the short link will expire at."
                    "expiredUrl":
                      type: "string"
                      nullable: true
                      description: "The URL to redirect to when the short link has expired."
                    "password":
                      type: "string"
                      nullable: true
                      description: "The password required to access the destination URL of the short link."
                    "proxy":
                      type: "boolean"
                      default: false
                      description: "Whether the short link uses Custom Social Media Cards feature."
                    "title":
                      type: "string"
                      nullable: true
                      description: "The custom link preview title (og:title). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                    "description":
                      type: "string"
                      nullable: true
                      description: "The custom link preview description (og:description). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                    "image":
                      type: "string"
                      nullable: true
                      description: "The custom link preview image (og:image). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                    "video":
                      type: "string"
                      nullable: true
                      description: "The custom link preview video (og:video). Will be used for Custom Social Media Cards if `proxy` is true. Learn more: https://d.to/og"
                    "rewrite":
                      type: "boolean"
                      default: false
                      description: "Whether the short link uses link cloaking."
                    "ios":
                      type: "string"
                      nullable: true
                      description: "The iOS destination URL for the short link for iOS device targeting."
                    "android":
                      type: "string"
                      nullable: true
                      description: "The Android destination URL for the short link for Android device targeting."
                    "geo": {"$ref": "#/components/schemas/linkGeoTargeting"}
                    "doIndex":
                      type: "boolean"
                      default: false
                      description: "Allow search engines to index your short link. Defaults to `false` if not provided. Learn more: https://d.to/noindex"
                    "utm_source":
                      type: "string"
                      nullable: true
                      description: "The UTM source of the short link. If set, this will populate or override the UTM source in the destination URL."
                    "utm_medium":
                      type: "string"
                      nullable: true
                      description: "The UTM medium of the short link. If set, this will populate or override the UTM medium in the destination URL."
                    "utm_campaign":
                      type: "string"
                      nullable: true
                      description: "The UTM campaign of the short link. If set, this will populate or override the UTM campaign in the destination URL."
                    "utm_term":
                      type: "string"
                      nullable: true
                      description: "The UTM term of the short link. If set, this will populate or override the UTM term in the destination URL."
                    "utm_content":
                      type: "string"
                      nullable: true
                      description: "The UTM content of the short link. If set, this will populate or override the UTM content in the destination URL."
                    "ref":
                      type: "string"
                      nullable: true
                      description: "The referral tag of the short link. If set, this will populate or override the `ref` query parameter in the destination URL."
                    "webhookIds":
                      type: "array"
                      nullable: true
                      items:
                        type: "string"
                      description: "An array of webhook IDs to trigger when the link is clicked. These webhooks will receive click event data."
              required:
                - "data"
[...]
